article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}
.page-wrapper {
	width: 1280px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 10px 50px 0 rgba(
		0, 
		0, 
		0, 
		0.2
	), 0 20px 30px 0 rgba(
		0, 
		0, 
		0, 
		0.3
	), 0 0 1px 0 rgba(
		0, 
		0, 
		0, 
		0.9
	);
}
.calendar {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	font-family: Helvetica;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #717171;
	font-size: 12px;
	line-height: 2.08;
	letter-spacing: -0.7px;
}
.days-name {
	opacity: 0.59;
	font-size: 8px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	color: #949494;
}
.other-month-day {
	color: #cdcdcd;
}
.event-day {
	font-weight: bold;
  	color: #383838;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	position: relative;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 11px;
	height: 22px;
    background-image: linear-gradient(
		to bottom,
		 #e7e6e7,
		 #d1d0d1
	);
	box-shadow: inset 0 -0.5px 0.5px 0 rgba(
		0, 
		0, 
		0, 
		0.2
	), inset 0 0.5px 0.5px 0 rgba(
		255, 
		255, 
		255, 
		0.6
	);
}
.circle-botton {
	cursor: pointer;
	width: 12px;
	height: 12px;
	background-color: #ff5f58;
	border: solid 0.5px #e1483f;
	border-radius: 6px;
	margin-top: 3px;
	margin-right: 8px;
	float: left;
	padding: 0px;
}
.calendar-botton {
	cursor: pointer;
	width: 110px;
	height: 22px;
	border-radius: 4px;
	background-image: linear-gradient(
		to bottom, 
		#fefefe, 
		#f1f1f1
	);
	font-family: Helvetica;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: center;
	color: #575757;
	float: left;
	margin-left: 71px;
	border-width: 0px;
}
.arrow-botton {
	cursor: pointer;
	border-width: 0px;
	width: 40px;
	height: 22px;
	border-radius: 4px;
	float: left;
	margin-left: 20px;
	background-image: linear-gradient(
		to bottom, 
		#fefefe, 
		#f1f1f1
	);
}
.arrow-image {
	margin-top: 3px;
	width: 14px;
	height: 14px;
}
.calendar-scale-botton-wrapper {
	margin-left: 511px;
}
.calendar-scale-botton-group button {
	float: left;
	cursor: pointer;
	overflow: hidden;
	border-width: 0px;
	height: 22px;
	width: 64px;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
}
.calendar-scale-left-botton {
	border-radius: 4px 0px 0px 4px;
	color: #262626;
	background-image: linear-gradient(
		to bottom, 
		#fefefe, 
		#f1f1f1
	);
	  box-shadow: 0 0.5px 1px 0 rgba(
		0, 
		0, 
		0, 
		0.2
	), 0 0 0 0.5px rgba(
		0, 
		0, 
		0, 
		0.1
	);
}
.calendar-scale-middle-botton {
	color: #262626;
	background-image: linear-gradient(
		to bottom, 
		#fefefe, 
		#f1f1f1
	);
	  box-shadow: 0 0.5px 1px 0 rgba(
		0, 
		0, 
		0, 
		0.2
	), 0 0 0 0.5px rgba(
		0, 
		0, 
		0, 
		0.1
	);
}
.calendar-scale-right-botton {
	border-radius: 0px 4px 4px 0px;
	color: #ffffff;;
	background-color: rgba(
		0, 
		0, 
		0, 
		0.35
	);
}
.main-search-wrapper {
	position: absolute;
	text-align: center;
	right: 31px;
}
input[type=text], select {
	border-radius: 4px;
	border-width: 0px;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: center;
	color: #505051;
	width: 140px;
	height: 22px;
	padding: 0px;
	background-image: linear-gradient(
		to bottom, 
		#fefefe, 
		#f1f1f1
	);
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
	background-color: #ffffff;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
} 
.container {
	width: 100%;
	float: left;
	overflow: visible;
}
.content {
	height: 757px;
	margin-left: 208px;
	padding: 10px 0px 42px 43px;
}
.chosen-scale-header {
	width: 66px;
	height: 32px;
	font-family: Helvetica;
	font-size: 26px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.9px;
	text-align: center;
	color: #1d2022;
}
.content-calendar-wrapper {
	margin: 29px 46px 0px 0px;
	float: left;
}
.content-calendar {
	grid-column-gap: 14px;
	grid-row-gap: 6px;
}
.selected-day {
	color: #0087f3;
}
.focus-day {
	border-radius: 100%;
	border-width: 30px;
	background-color: #0087f3;
	color: #ffffff;
	height: 26px;
	width: 26px;
}
.month {
	margin-bottom: 10px;
	width: 58px;
	height: 19px;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.1px;
	text-align: left;
	color: #e30613;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	height: 817px;
	width: 208px;
	margin-left: -100%;
	position: relative;
	background-blend-mode: overlay, normal;
	background-image: linear-gradient(
		rgba(
			255,
			255,
			255,
			0.2
		), 
		rgba(
			255,
			255,
			255,
			0.2
		)
	),linear-gradient(
		rgba(
			230,
			230,
			230,
			0.3
		), 
		rgba(
			230,
			230,
			230,
			0.3
		)
	);
	box-shadow: 1px 0 1px 0 rgba(
		74, 
		74, 
		74, 
		0.24
	);
}
.left-sidebar-calendar-wrapper {
	width: 100%;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #d8d8d8;
	padding-top: 15px;
}
.left-sidebar-calendar {
	grid-column-gap: 7px;
	grid-row-gap: 4px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 12px;
	line-height: 1.83;
	letter-spacing: -0.7px;
}
.choice-of-month {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 42px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: Helvetica;
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.9px;
	color: #252624;
}
.choice-of-month-botton {
	cursor: pointer;
}
.my-email {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	font-family: Helvetica;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: left;
	color: #575757;
}
.calendar-choice {
	margin-bottom: 218px;
	max-height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.calendar-element {
	margin: 15px;
	position: relative;
}
.calendar-rectangle {
	position: absolute;
	left: 0px;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	background-color: #e30613;
	border: solid 1px rgba(
		0, 
		0,
		0, 
		0.23
	);
}
.calendar-name {
	padding-left: 30px;
	width: 150px;
	height: 16px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: left;
	color: #575757;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
